<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <img src="img/logo.png" alt="Logo" width="120" height="110" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#"><h1>chatBox</h1></a>
  </div>
</nav>

<div class="d-flex">
  <!-- Caja de mensajes -->
  <div id="chatContainer" class="container p-3 text-primary-emphasis bg-info-subtle border border-primary-subtle rounded-3 flex-grow-1">
    <div id="messagesLogs" style="max-height: 300px; overflow-y: scroll;"></div> <!-- Contenedor para mostrar los mensajes -->
    <div class="d-flex">
      <div class="input-container">
        <input type="text" id="chatBox" class="form-control me-2" placeholder="Escribe un mensaje...">
      </div>
      <button id="sendBtn" class="btn btn-primary">Enviar</button>
      <button id="buzzBtn" class="btn btn-danger">Zumbido</button>
      <button id="emojiBtn" class="btn btn-light">游땕</button> <!-- Bot칩n para mostrar emojis -->
    </div>
    <div id="emojiPicker" style="display:none; position: absolute; background-color: white; border: 1px solid #ddd; padding: 5px; border-radius: 5px;">
      <!-- Aqu칤 se insertar치 el picker de emojis -->
    </div>
  </div>

  <!-- Caja de usuarios conectados -->
  <div id="usersContainer" class="container p-3 text-primary-emphasis bg-light border border-primary-subtle rounded-3 ms-3">
    <h5>Usuarios Conectados</h5>
    <ul id="userList" class="list-unstyled">
      <!-- Aqu칤 se insertar치n los usuarios conectados -->
    </ul>
  </div>
</div>

<!-- Incluir las dependencias de Emoji Mart -->
<script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@emoji-mart/data"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Librer칤a SweetAlert2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script> <!-- Librer칤a Socket.io -->
<script src="js/main.js"></script> <!-- Tu archivo JS con la l칩gica del chat -->
